
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3> Category List </h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Update</th>
    </tr>
    <tr>
     

    </tr>
    <button class="btn btn-primary">New Category</button>
    <button class="btn btn-warning">Category List</button>

</table>